*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--shadow-color);
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c4d3;
  outline: 1px solid #cdcdcd;
  border-radius: 1px;
}
