@keyframes asideSlide {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes videoSlide {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.player {
  display: grid;

  grid-template-columns: 400px 1fr;
  gap: 2rem;
  &_nav {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_return {
      border: none;
      font-size: 2.5rem;
      margin-right: 3rem;
      background-color: none;
      cursor: pointer;
      & > svg {
        stroke: var(--text-color);
      }
      &:hover > svg {
        stroke: var(--alt-text-color);
      }
    }
    &_title {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--text-color);
    }
    &_remouve {
      border: none;
      background-color: transparent;
      cursor: pointer;
      path {
        fill: var(--alt-text-color);
      }
      &:hover {
        path {
          fill: var(--danger-color);
        }
      }
    }
  }
  &_aside {
    max-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    animation-name: asideSlide;
    animation-duration: 200ms;
    animation-timing-function: ease;
  }
  &_video {
    display: block;
    width: 100% !important;
    height: auto !important;
    animation-name: videoSlide;
    animation-duration: 200ms;
    animation-timing-function: ease;
  }
}

.playlist {
  background-color: var(--whitespace-color);
  border-radius: 6px;

  overflow: auto;

  .section {
    &_heading {
      padding: 1rem 2rem;
      font-weight: 500;
      font-size: 0.95rem;
      position: relative;
      border-bottom: 1px solid var(--shadow-color);
    }
    .lecture {
      max-height: 0;
    }
  }
  .is-open {
    .section_heading {
      box-shadow: 0 3px 5px 0px var(--shadow-color);
    }

    .lecture {
      max-height: 100px !important ;
    }
  }
  .lecture {
    display: block;
    overflow: hidden;
    transition: max-height 200ms ease;

    &_heading {
      font-size: 1rem;
      display: block;
      padding: 1rem 2rem;
      background-color: #f0f0f0;
      border-top: 1px solid var(--shadow-color);
    }
  }
}
