@keyframes tutorialsSlide {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.tutorials {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  animation-name: tutorialsSlide;
  animation-duration: 200ms;
  animation-timing-function: ease;
}

.tutorial {
  width: 260px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 1px 4px var(--shadow-color);
  transition: all 200ms ease;
  background-color: var(--whitespace-color);
  &_header {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
  }

  &_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  &:hover {
    background-color: var(--bg-color);
    box-shadow: 0 2px 16px var(--shadow-color);
    transform: translateY(-5px);
  }

  &_icon {
    display: block;
    margin: auto;
  }

  &_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 2rem;
    height: 150px;
    word-wrap: break-word;
  }

  &_path {
    display: none;
    margin: 1rem 2rem;
  }

  &.no-thumb &_path {
    color: var(--alt-text-color);
    font-size: 0.75rem;
    font-weight: 400;
    display: block;
  }
}

.search {
  &_result {
    padding: 1rem;
  }
  .tutorial {
    width: 100%;
    display: flex;
    padding: 0;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: none;

    &_header {
      width: 100px;
      height: 80px;
      flex-shrink: 0;
    }

    &_img {
      border-radius: 6px;
    }

    &_title {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color);
      margin: 1rem;
      height: auto;
    }

    &_path {
      color: var(--alt-text-color);
      font-size: 0.7rem;
      font-weight: 500;
      margin: 1rem;
    }
  }
}
